import { TypeOrmModuleOptions } from "@nestjs/typeorm";

export const ExampleMySqlDatabaseConfig: TypeOrmModuleOptions = {
    type: "mysql",
    host: "localhost",
    port: 3306,
    username: "your-mysql-username",
    password: "your-mysql-password",
    database: "geocating-db",
    entities: ["src/**/**.entity{.ts,.js}"],
    synchronize: true, // should not be set to true in PROD, otherwise you lose data
    logging: true
}

export const ExampleSqliteDatabaseConfig: TypeOrmModuleOptions = {
    type: "sqlite",
    database: "geocating-db",
    entities: ["src/**/**.entity{.ts,.js}"],
    synchronize: true, // should not be set to true in PROD, otherwise you lose data
    logging: true
};